#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    /*background: white;*/
    margin: 16px;
}

.logo h1{
    display: inline-block;
    margin: 0 0 0 12px;
    color: #fff;
    font-size: 100%;
    vertical-align: middle;
}

.ant-divider-horizontal {
    margin: 5px 0;
}

.ant-layout-content {
    overflow-y: auto;
}

.search span.field {
    width: auto;
    margin-right: 8px;
    font-weight: bold;
    display: inline-block;
}

/*input.ant-input {*/
/*    width: 80%;*/
/*}*/

.search input.ant-input {
    width: 50%;
}

button {
    margin-right: 8px;
}

.ant-table-body table thead {
    line-height: 10px;
}

.ant-table-body table tbody tr {
    line-height: 8px;
}

.ant-table-body table tbody tr a {
    margin-right: 12px;
}

.ant-input-group .ant-input-group-addon {
    border: none;
}


.ant-pagination {
    text-align: center;
    float: none !important;
}
