#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: white;
    margin: 16px;
}

.ant-divider-horizontal {
    margin: 5px 0;
}

.search span.field {
    width: 30%;
    font-weight: bold;
    display: inline-block;
}

.search input.ant-input {
    width: 50%;
}

button{
    margin-right: 8px;
}
.ant-pagination {
    text-align: center;
}
